body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

header {
  
  color: #287bff;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
a{
  
  font-weight: bold;
}



section {
  padding: 40px;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

section h2 {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
  
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin: 10px 0;
  }

  section {
      padding: 20px;
      margin: 10px;
  }
}
